{
    order autentico before reverse_proxy
    autentico {
        server default {
            url http://authentico:9999
            client_id my_caddy_client
            client_secret super_secret_string
            API token my_api_token
        }
    }
}

example.internal {
    route {
        autentico allow groups admin # auto listens on domain + /oauth2/callback # sets cookie for domain
    }
    respond "you have logged in" 200
}

something.example.internal {
    route {
        autentico allow groups admin # auto listens on domain + /oauth2/callback # sets cookie for domain example.internal
    }
    respond "you have logged in" 200
}

other.internal {
    route {
        autentico {
            allow groups user
            callback_path "/customcallback"
        } # auto listens on domain + /customcallback # sets cookie for domain other.internal
    }
    respond "you have logged in" 200
}
